

<div class="titleRow" *ngFor="let article of articleList"> 
    {{article.title}}
    
    <button  *ngIf='isLoggdIn' (click)="deleteHere(article)">Delete!</button>
    
    
    
    
</div>


<!--<h1>senaste</h1>
<div *ngFor="let senastArticle of senasteList">
    <div class='last-articles'>
     Title: {{senastArticle.title}}<br>
    Content preview: {{senastArticle.content}}...<br>
    Time to read:{{senastArticle.time}} minutes<br>
    Author: {{senastArticle.author}}
    </div>
    
</div>-->