@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

.add-box {
	padding: 1em;
}
button {
	padding: 1em;
	width: 50%;
	border-radius: 5px;
	
}
	
.form-group {
	border: 1px solid lightgray;
	border-radius: 0.3em;
	padding: 0.4em;
	margin: 0.5rem;
	background-color:  lightgreen;
}
.error-message {
	color: white;
	background-color: tomato;
	border-color: tomato;
	border: 1px solid transparent;
    border-radius: 5px;
	padding: 0.2em;
	
}


input {
	border-radius: 5px;
	border-left-width: 5px;
	display: block;
}
label {display: block;}
.form-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;
}
.content {
	line-height: 1.2em;
}


input.ng-touched { border-left: 5px solid orange; }

.ng-valid[required], .ng-valid.required {
	border-left: 5px solid green; }

input.ng-invalid {
	border-left: 5px solid red; }

button[disabled] { background-color: #ddd; border-color: #ccc; }
button[disabled]:hover { cursor: not-allowed; }
