<div class='add-box'>
	<form #newArticleForm="ngForm">

		<div class="article-form">
			<label>Article title</label>
			<div class="form-row">
				<input type="text"
					required
					[(ngModel)]="article.title" name="title"
					#title="ngModel" />
				<div>
					<div *ngIf="title.errors?.required" class="error-message">
						Enter a title
					</div>
				</div>
			</div>
        </div>
        
        <div class="article-form">
			<label>Article content</label>
			<div class="form-row">
				<textarea  class='content' type="text" rows="8"
					required minlength="50"
					[(ngModel)]="article.content" name="content"
					#content="ngModel"></textarea>
				<div>
					<div *ngIf="content.errors?.required" class="error-message">
						Enter a content
					</div>
					<div *ngIf="content.errors?.minlength" class="error-message">  
						The content should have atleast 50 letters
					 </div>
				</div>
			</div>
		</div>

		<div class="article-form">
			<label>How long to read in minutes?</label>
			<div class="form-row">
				<input type="text"
					required 
					[(ngModel)]="article.time" name="time"
					#time="ngModel" />
				<div>
					<div *ngIf="time.errors?.required" class="error-message">
						Enter a number 
					</div>
				</div>
				
			</div>
		</div>

		<div class="form-group">
			<label >Author (optional)</label>
			<input type="text"
				[(ngModel)]="article.author" name="author"
				#author="ngModel" />
		</div>

		<div class="button">
			<button [disabled]="newArticleForm.invalid" (click)="submit()">Submit!</button>
		</div>
         
		



		<br />
		
	</form>
</div>

 
