<header>
    <nav>
        <a routerLink="/startsidan" routerLinkActive="active">Start sidan</a>
        <a routerLink="/alla" routerLinkActive="active">Alla artiklar</a>
        <a routerLink="/senaste-artiklar" routerLinkActive="active">Senaste artiklar</a>
        <a routerLink="/logga-in" routerLinkActive="active">Logga in</a>
        <a routerLink="/add-artikel" routerLinkActive="active" *ngIf="isLoggdIn">Add new artiklar</a> 
     </nav>
</header>

 
    <router-outlet></router-outlet>
    
 


<footer>
    <div class="grid">
        <div><span style="font-weight: bold;">Kontakt:</span><br>
        tel: +46 31 22 90<br>
        Email adress: ----@gmail.com</div>
        <div ><span style="font-weight: bold;">About oss:</span><br>
        Vi visar de nyaste artiklar inom IT. vår blogg blir uppdateras varje dag och det är helt gratis att läsa dem. </div>
      </div>

    
</footer>