.start-box {
    border: 1px solid green;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 1em;
    margin: 1em;
    margin-bottom: 5em;
}
.content {
    border: 1px solid green;
    border-radius: 5px;
    background-color: lightseagreen;
    width: 50%;
    height: 6em;
    padding-left: 1em;
    font-weight: lighter;
    font-style: italic;
    
}
div {
    font-weight: bold;
    
}